.main-page-img {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  background-color: white;
  /* background-image: "./img/apt_img.jpg"; */
}

.main-page-img > img {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hide {
  display: none;
}

.sel-page {
  text-align: center;
}
